:root {
  /* Colors */
  --clr-primary-800: hsl(250, 18%, 19%);
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-secondary-400: hsl(254, 6%, 58%);
  --clr-accent-300: hsl(0, 89%, 66%);

  /* Font Family */
  --ff-base: 'Inter', sans-serif;

  /* Font Weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Font size */
  --fs-100: 0.9375rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  4. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  5. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
General
*/
body {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-800);
  font-family: var(--ff-base);
  font-size: var(--fs-100);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  min-height: 100svh;
}

a {
  color: var(--clr-secondary-400);
}

header {
  color: var(--clr-primary-100);
  background-color: var(--clr-accent-300);
  padding-block: 1rem;
}

/* Utility classes */
.flex-group {
  display: flex;
  align-items: center;
}

.grid-flow {
  display: grid;
  gap: 1rem;
}
